<div class="header">
  <a href="#default">
    <img href="../assets/logo.png" alt="logo"/>
  </a>
  
  
</div>
<div class="container">
 
  <div class="row">
    <form [formGroup]="registrationForm">
      <div class="col-sm-12">
        <h4>Create New Account</h4>
        <div class="row">
          <div class="col-sm-6 form-group">
            <label class="checkbox-inline"><input type="checkbox" value="">Mrs</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Ms</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Mdm</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Dr</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <label>First Name</label>
            <input type="text" placeholder="First Name" formControlName="firstName" class="form-control" />
            <div *ngIf="registrationForm.get('firstName').errors  && isSubmitted">
              <div *ngIf="registrationForm.get('firstName').hasError('required')">
                <span style="color: red;">Please Enter First Name.</span>
              </div>
              <div *ngIf="registrationForm.get('firstName').hasError('minlength')">
                <span style="color: red;">First Name requied atleast 3 characters.</span>
              </div>
              <div *ngIf="registrationForm.get('firstName').hasError('maxlength')">
                <span style="color: red;">First Name requied only 30 characters.</span>
              </div>
              <div *ngIf="registrationForm.get('firstName').hasError('pattern')">
                <span style="color: red;">Only characters are allowed.</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 form-group">
            <label>Last Name</label>
            <input type="text" placeholder="Last Name" formControlName="lastName" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label>Mobile Phone Number</label>
          <textarea placeholder=" " rows="2" formControlName=" " class="form-control"></textarea>
        </div>
        <div formGroupName="addressGroup" class="form-group">
          <label>Address</label>
          <textarea placeholder="Enter Address Here.." rows="2" formControlName="address" class="form-control"></textarea>
          <div *ngIf="registrationForm.get('addressGroup.address').errors && isSubmitted">
            <div *ngIf="registrationForm.get('addressGroup.address').hasError('required')">
              <span style="color: red;">Please Enter Address.</span>
            </div>
            <div *ngIf="registrationForm.get('addressGroup.address').hasError('maxlength')">
              <span style="color: red;">Only 255 characters are allowed.</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <label>Country/Location</label>
            <input type="text" placeholder="Enter City Name Here.." formControlName="city" class="form-control" />
          </div>
          <div class="col-sm-6 form-group">
            <label>Province/District</label>
            <input type="text" placeholder="Enter State Name Here.." formControlName="state" class="form-control" />
          </div>
          
        </div>
        <div class="form-group">
          <label>Phone Number</label>
          <input type="text" placeholder="Enter Phone Number Here.." formControlName="phoneNumber" class="form-control" />
          <div *ngIf="registrationForm.get('phoneNumber').errors && isSubmitted">
            <div *ngIf="registrationForm.get('phoneNumber').hasError('required')">
              <span style="color: red;">Please Enter Phone Number.</span>
            </div>
            <div *ngIf="registrationForm.get('phoneNumber').hasError('minlength')">
              <span style="color: red;">Phone Number requied atleast 8 characters.</span>
            </div>
            <div *ngIf="registrationForm.get('phoneNumber').hasError('maxlength')">
              <span style="color: red;">Phone Number requied only 12 characters.</span>
            </div>
            <div *ngIf="registrationForm.get('phoneNumber').hasError('pattern')">
              <span style="color: red;">Only Numbers are allowed.</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <label>Email Address</label>
            <input type="text" placeholder="Enter Email Address Here.." formControlName="email" class="form-control" />
            <div *ngIf="registrationForm.get('email').errors && isSubmitted">
              <div *ngIf="registrationForm.get('email').hasError('required')">
                <span style="color: red;">Please Enter Email.</span>
              </div>
              <div *ngIf="registrationForm.get('email').hasError('minlength')">
                <span style="color: red;">The email requied atleast 5 characters.</span>
              </div>
              <div *ngIf="registrationForm.get('email').hasError('maxlength')">
                <span style="color: red;">The email requied only 80 characters.</span>
              </div>
              <div *ngIf="registrationForm.get('email').hasError('pattern')">
                <span style="color: red;">The Email is not valid.</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 form-group">
            <label>Password</label>
            <input type="password" placeholder="Enter Password Here.." formControlName="password" class="form-control" />
            <div *ngIf="registrationForm.get('password').errors && isSubmitted">
              <div *ngIf="registrationForm.get('password').hasError('required')">
                <span style="color: red;">Please Enter Password.</span>
              </div>
              <div *ngIf="registrationForm.get('password').hasError('minlength')">
                <span style="color: red;">The password requied atleast 5 characters.</span>
              </div>
              <div *ngIf="registrationForm.get('password').hasError('maxlength')">
                <span style="color: red;">The password requied only 12 characters.</span>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-lg btn-warning">Submit</button>
      </div>
    </form>
  </div>
</div>